{% extends 'common/base.html' %}

{% block title %}芭菲丽后台-商品{% endblock %}

{% block css %}
<style>
.main{padding: 0;}
.layui-tab-item{padding: 0;}
.layui-tab-content{margin-top: -10px; padding: 0;
    padding-top: 5px;}
.filter-bar,.filter-bar input{
    height: 30px;
    line-height: 30px;
}
.filter-bar input{
    font-size: 12px;
    margin-right: 10px;
}
.filter-bar{justify-content: space-between;}
.data-table{
    margin-top: 5px;
}
.layui-table-cell{height:auto;line-height:28px;}
.layui-btn+.layui-btn{
    margin: 0;
}
</style>
{% endblock %}


{% block main %}
    <div class="wrapper wrapper-content main">
        {#面包屑#}
        <div class="row" style="padding:10px 0 0 15px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/">迪奥皮具官方网站</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/admin/goods/goodslist/"><strong>商品列表</strong></a>
                </li>
            </ol>
        </div>
        <div class="">
            {# tab栏#}
            <div class="layui-tab layui-tab-brief " lay-filter="docDemoTabBrief">
              <ul class="layui-tab-title">
                <li class="layui-this">出售中</li>
                <li>已下架</li>
                <li>库存为零</li>
              </ul>
              <div> {# tab-content #}
                {#tab栏下的内容 #}
                <div class="layui-tab-item layui-show">
                    <div>
                         {# 左侧按钮组 #}
                        <div class="button-group pull-left">
                            <button type="button" class="btn btn-xs btn-primary">发布商品</button>
                            <button type="button" class="btn btn-xs btn-default">批量删除</button>
                            <button type="button" class="btn btn-xs btn-default">上架</button>
                            <button type="button" class="btn btn-xs btn-default">下架</button>
                        </div>
                         {# 右侧过滤搜索栏 #}
                        <div class="filter-bar pull-right">
                            <form action="" class="form-inline">
                                <label for="">商品分类：</label>
                                <input type="text" class="form-control" placeholder="请选择商品分类">
                                <label for="">商品名称：</label>
                                <input type="text" class="form-control" placeholder="要搜索的商品名称">
                                <button type="button" class="btn btn-xs btn-primary">搜索</button>
                            </form>
                        </div>
                        <div class="layui-clear"></div>
                    </div>
                     {# 数据表格 #}
                    <div class="data-table">
                        <table id="demo" class="layui-hide" lay-skin="line" lay-filter="test"></table>
                        <div class="layui-clear"></div>
                    </div>
                </div>
                <div class="layui-tab-item">内容2</div>
                <div class="layui-tab-item">内容3</div>
              </div>
            </div>
        </div>


    </div>

{% endblock %}


{% block js %}
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="imgTpl">
    <img src="{% verbatim %}{{ d.picture }}{% endverbatim %}" alt="" width="50px">
</script>
<script type="text/html" id="btnBar">
{#    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>#}
{#    <a class="layui-btn layui-btn-xs" lay-event="more">更多</a>#}
    <button class="layui-btn layui-btn-xs" style="margin: 0">编辑</button>
    <button class="layui-btn layui-btn-xs btn-danger">删除</button>
    <button class="layui-btn layui-btn-xs btn-warning">下架</button>
</script>
    
<script>
    init();
    function init(){
        layui.use(['table','form','element'], function(){
            var $ = layui.jquery
                ,element = layui.element//Tab的切换功能，切换事件监听等，需要依赖element模块
                ,table = layui.table
                ,form = layui.form;
            //第一个实例
            table.render({
                elem: '#demo'
                ,url: '/admin/goods/goodslist/' //数据接口
                ,method:'post'
                ,cols: [[ //表头
                    {type:'checkbox'}
                    ,{field: 'goods_id', title: 'ID',  sort: true,width:80}
                    ,{field: 'goods_name', title: '商品名称'}
                    ,{field: 'picture', title: '商品图片', sort: true,templet:"#imgTpl",align:"center"}
                    ,{field: 'sale_price', title: '价格',width:120}
                    ,{field: 'stock', title: '库存', sort: true,width:120}
                    ,{field: 'sell_count', title: '销量', sort: true,width:100}
                    ,{field: 'create_time', title: '创建时间'}
                    ,{fixed: 'right', width: 150, align:'center', toolbar: '#btnBar',title:"操作"}
                ]]
                ,page: true //开启分页
            });

        });
    }

</script>
{% endblock %}