{% extends 'common/base.html' %}

{% block title %}芭菲丽后台-商品{% endblock %}



{% block css %}

{% endblock %}


{% block main %}
    <div class="wrapper wrapper-content">
        {#面包屑#}
        <div class="row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/">迪奥皮具官方网站</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/admin/goodslist/"><strong>商品</strong></a>
                </li>
            </ol>
        </div>



    </div>
{% endblock %}


{% block js %}

{% endblock %}