{% extends 'common/base.html' %}

{% block title %}芭菲丽后台-商品{% endblock %}


{% block css %}
<style>
    .main{padding: 0;}
    .layui-btn+.layui-btn{margin-left: 0;}
    .data-table table th,.data-table table td{text-align: center}
    .data-table table tr th:nth-child(2),.data-table table tr td:nth-child(2){text-align: left;}
    .data-table table tbody tr td a{font-size: 16px}
    .data-table table tbody tr td a span{color: #1AB394;}


</style>
{% endblock %}


{% block main %}
    <div class="wrapper wrapper-content main">
        {#面包屑#}
        <div class="row" style="padding:10px 0 0 15px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/">迪奥皮具官方网站</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/admin/goods/goodscategory/"><strong>商品分类</strong></a>
                </li>
            </ol>
        </div>
        {# 添加商品分类按钮 #}
        <div style="margin: 20px 0 10px 0">
            <a href="/admin/goods/addgoodscategory"><button type="button" class="btn btn-primary " >添加商品分类</button></a>
        </div>
        {# 表格部分 #}
        <div class="data-table">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="50">
                    <col width="420">
                    <col width="150">
                    <col width="150">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>分类名称</th>
                    <th>是否显示</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for cate in cate_list %}
                <tr>
                    <td><a><span ifFold="0" onclick="foldTr({{ forloop.counter0 }},this)">[+]</span></a></td>
                    <td>{{ cate.category_name }}</td>
                    {% if cate.is_visible == 1 %}
                    <td>是</td>
                    {% else %}
                    <td>否</td>
                    {% endif %}
                    <td>{{ cate.sort }}</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-xs">修改</button>
                        <button type="button"class="layui-btn layui-btn-xs layui-btn-danger">删除</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p id="data" style="display: none;">{{ cate_list_json }}</p>
        </div>

    </div>
{% endblock %}


{% block js %}
<script>
    var cate_list;
    init();
    function init() {
        cate_list =JSON.parse($("#data").text());
    }
    
    //折叠表格
    function foldTr(index,that) {
        var ifFold =$(that).attr("ifFold");
        //此时为折叠状态需展开
        if (ifFold === "0"){
            $(that).text("[-]");
            var foldData =cate_list[index]["sec_cate"];
            creatCateItem(foldData,that,index);
            $(that).attr("ifFold","1")
        }
        //此时为展开状态需折叠
        if (ifFold === "1"){
            $(that).text("[+]");
            var delClassName =".sec-"+index
            $(delClassName).remove();
            $(that).attr("ifFold","0")
        }
    }

    //动态创建分类数据
    function creatCateItem(list,that,index){
        var temp_total ="";
        for (var i = 0; i < list.length; i++) {
            var item =list[i];
            var isvisible =item["is_visible"] === 1?"是":"否";
            var item_temp =`
                <tr class="sec-${index}">
                    <td></td>
                    <td><span style="color: #ccc;font-size: 12px;font-weight: bold;">|——</span>${item.category_name}</td>
                    <td>${isvisible}</td>
                    <td>${item.sort}</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-xs">修改</button>
                        <button type="button"class="layui-btn layui-btn-xs layui-btn-danger">删除</button>
                    </td>
                </tr>
            `
            temp_total+=item_temp;
        }
        $(that).parent().parent().parent().after(temp_total);
    }
    
</script>
{% endblock %}